body {
	font-family: "Helvetica";
	-webkit-user-select: none;
    -webkit-text-size-adjust: none;
	overflow-y: hidden;
	width: 100%;
	height: 100%;
}

body, ul, li {
	padding: 0;
	margin: 0;
	border: 0;
}

ul {
	list-style-type: none;
}

a {
	color: #0066CC;
}

h3 {
	font-size: 15px;
}

h4 {
	font-size: 13px;
}

/*
	Header
*/

header {
	width: 100%;
	height: 44px;
	position: fixed;
	top: 0;
	z-index: 1000;
	
	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		from(#999),
		color-stop(0.02, #666),
		to(#222)
	);
	font-family: Chunk, Helvetica;
	
	-webkit-box-sizing: border-box;
	
	text-align: center;
	color: #ffffff;
	padding-top: 10px;
	
	font-weight: bold;
	font-size: 1.5em;
}

.inner_text_shadow
{
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 1px;
}

#createPost {
	position: absolute;
	z-index: 1001;
	top: 0;
	right: 0;
	height: 44px;
	width: 64px;
	display: inline-block;
	text-align: center;
}

#createPost img {
	padding-top: 9px;
}

.leftBorder {
	position: absolute;
	z-index: 1002;
	top: 0;
	right: 64px;
	width: 1px;
	height: 44px;
	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		from(#969898),
		to(#4a4b4b)
	);
}

/* 
	Nav
*/
nav {
	height: 44px;
	width: 100%;
	position: fixed;
	top: 44px;
	z-index: 1001;
	
	background-image: -webkit-gradient(
		linear,
		0% 0%,
		0% 100%,
		from(#fcfcfc),
		to(#bababa)
	);
}
nav ul {
	height: 100%;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}

nav ul li {
	display: inline-block;
	float: left;
	width: 64px;
	height: 100%;
	border: 1px solid #999999;
	-webkit-box-sizing: border-box;
	
	background-repeat: no-repeat;
	background-position: center center;
}

nav ul li:nth-child(1n+2) {
	border-left-width: 0px;
}

#liHome {
	background-image: url('icons/53-house.png');
}

#liHome.selected {
	background-image: url('icons/53-house.png'),
		-webkit-gradient(
			linear,
			0% 0%,
			0% 100%,
			from(#b1b5b5),
			to(#c5c7c7),
			color-stop(.5, #ccc)
		);
}

#liMentions {
	background-image: url('icons/09-chat-2.png');
}

#liMentions.selected {
	background-image: url('icons/09-chat-2.png'),
		-webkit-gradient(
			linear,
			0% 0%,
			0% 100%,
			from(#b1b5b5),
			to(#c5c7c7),
			color-stop(.5, #ccc)
		);
}

#liMessages {
	background-image: url('icons/18-envelope.png');
}

#liMessages.selected {
	background-image: url('icons/18-envelope.png'),
		-webkit-gradient(
			linear,
			0% 0%,
			0% 100%,
			from(#b1b5b5),
			to(#c5c7c7),
			color-stop(.5, #ccc)
		);
}

#liFollow {
	background-image: url('icons/112-group.png');
}

#liFollow.selected {
	background-image: url('icons/112-group.png'),
		-webkit-gradient(
			linear,
			0% 0%,
			0% 100%,
			from(#b1b5b5),
			to(#c5c7c7),
			color-stop(.5, #ccc)
		);
}

#liMore {
	background-image: url('icons/95-equalizer.png');
}

#liMore.selected {
	background-image: url('icons/95-equalizer.png'),
		-webkit-gradient(
			linear,
			0% 0%,
			0% 100%,
			from(#b1b5b5),
			to(#c5c7c7),
			color-stop(.5, #ccc)
		);
}

/* The place for the tabs */

section {
	left: 0;
	height: 100%;
}

#identicaTimeline {
	color: #444;
	top: 88px;
	font-size: 12px;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#timelineScroller {
	position: absolute;
	width: 100%;
	padding: 0;
}

.nameURL {
	color: #0066CC;
	font-weight: bold;
}

#identicaTimeline a {
	font-style: normal;
	text-decoration: none;
}

#identicaTimeline ul.identicaList li:nth-child(even) {
	background-color: #e7f1f5;
}

#identicaMentions {
	color: #444;
	top: 88px;
	font-size: 12px;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#identicaMentions a {
	font-style: normal;
	text-decoration: none;
}

#identicaMentions ul.identicaList li:nth-child(even) {
	background-color: #e7f1f5;
}

#messageScroller {
	position: absolute;
	width: 100%;
	padding: 0;
}

#identicaMessages {
	color: #444;
	top: 88px;
	font-size: 12px;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#identicaMessages a {
	font-style: normal;
	text-decoration: none;
}

#identicaMessages ul.identicaList li:nth-child(even) {
	background-color: #e7f1f5;
}

#identicaFollowers {
	color: #444;
	top: 88px;
	font-size: 12px;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#identicaFollowers a {
	font-style: normal;
	text-decoration: none;
}

#identicaFollowers ul.identicaList li:nth-child(even) {
	background-color: #e7f1f5;
}

#identicaMore {
	color: #444;
	top: 88px;
	font-size: 12px;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#identicaMore a {
	font-style: normal;
	text-decoration: none;
}

/* Here is ends*/

.identica_status {
	height: 60px;
	padding: 6px;
	border-bottom: solid 1px #DEDEDE;
}

.identica_image {
	float: left;
	margin-right: 14px;
	border: solid 2px #DEDEDE;
	width: 50px;
	height: 50px;
}

.identica_posted_at {
	font-size: 11px;
	padding-top: 4px;
	color: #999;
	text-align: right;
	text-decoration: none;
}

.post {
	padding: 10px;
	min-height: 56px;
	border-bottom: 1px solid #e9e9e9;
}

.hidden {
	display: none;
}

#scrollSpace {
	height: 88px;
}

#postBox {
	position: absolute;
	z-index: 9000;
	width: 100%;
	height: 100%;
	background-color: #fff;
	
	top: 88px;
	padding-top: 15px;
}

#postBox textarea {
	width: 80%;
	margin-left: 8%;
	margin-right: 8%;

	font-size: 15px;
	border-style: solid;
	border-color: #818181;
	-webkit-border-radius: 3px;
	outline: none;
	padding: 5px;
	background: #f4f4f4;
}

#label {
	margin-left: 8%;
	color: #3e3e3e;
	font-size: 14px;
	line-height: 30px;
}

#postButton {
	position: absolute;
	right: 8%;
}

#identicaMore {
	background-color: #e5e5e5;
}

#aboutBox {
	margin: 10px;
	padding: 15px;
	
	background-color: #fafafa;
	
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border: solid 1px #8e8e8e;
}

#aboutBox img {
	max-height: 100px;
}

#devBy span {
	text-align: justify;
}

#loadingBkg {
	z-index: 60000;
	position: fixed;
	text-align: center;
	background-color: #5d5d5d;
	opacity: 0.8;
	width: 56px;
	height: 56px;
	
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border: solid 1px #313131;
}

#loading {
	top: 50%;
	z-index: 70000;
	position: fixed;
	text-align: center;
}

#loading img {
	max-width: 46px;
	opacity: 1;
}