




/*
	Section Animations
*/
section {
	-webkit-transition-property: opacity;
	-webkit-transition-delay: 0.5s;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	
	z-index: 0;
	position: absolute;
	top: 88px;
	width: 100%;
	background-color: #ffffff;
	display: block;
	opacity: 0;
}
section.selected {
	z-index: 100;
	opacity: 1;
}

/*
	List
*/

section#home ul.tweets li {
	min-height: 56px;
	min-width: 320px;
	-webkit-box-sizing: border-box;
	padding: 4px;
}
section#home ul.tweets li img.user-image {
	width: 48px;
	height: 48px;
}
section#home ul.tweets li:nth-child(even) {
	background-image:  -webkit-gradient(
		linear, 
		0% 0%, 
		0% 100%, 
		from(#aaaaaa), 
		to(#aaaaaa), 
		color-stop(.5,#cccccc)
	);
}

section#home ul.tweets li img {
	float: left;
	padding-right: 5px;
}
section#home ul.tweets li span.username {
	display: block;
}

/*
Profile
*/
section#profile {
	-webkit-box-sizing: border-box;
	padding: 4px;
	background-color: #ffffff;
	
/*	font-size: 9pt;*/
}
section#profile img {
	
}
section#profile span {
	display: block;
	padding-left: 60px;
}

section#profile #profileImage {
	float: left;
}

section#profile #statusText,
section#profile #followersCount {
	padding-top: 5px;
}