<section id='home' class="selected">
	<ul id="tweetsList" class='tweets'>
		<!-- <li>
			<div>
				<img class='user-image' alt='nathanpc'
			 	 	 src='user.png' />
				<span class='username'>nathanpc</span>
				<span class='message'>I love twitter!</span>
			</div>
		</li>-->
</section>




<section id="profile" class="">
	<img id="profileImage" />
	<span id="name"></span>
	<span id="screenName"></span>
	<span id="location"></span>
	<span id="statusText"></span>
	<span id="followersCount"></span>
	<span id="friendsCount"></span>
</section>
<section id="map" class="">
	<div id="mapCanvas" style="width: 100%; height: 100%;">Add map here!</div>
</section>